@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-hover span {
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition:  0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: initial;
  background-clip: text;
}

.gradient-hover span:hover {
  background: linear-gradient(45deg, #807c33, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-large {
  font-size: 50px;
  opacity: 1;
}

@media (max-width: 768px) {
  .text-large {
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}
